.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid:
      "header" auto
      "main" 1
      "footer" auto
      / 1fr;
    gap: 8px;
  }
  
  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }

  .footer {
    background-color: #d6af00;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0%;
    width: 100%;
    z-index: 999;
    font-weight: bold;
    height: 90px;
    display: flex; /* Use flexbox for vertical alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

.header {
    background: #d6af00 url('../images/arecibo.ico') no-repeat;
    height: 80px; 
    width: 100%;
    background-size: contain;
  }

.main {
    background-color: #fff;
    min-height: calc(100vh - (80px + 90px)); 
}

.formbold-main-wrapperDept {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    max-width: 650px;
    margin: 0 auto;
}

.formbold-main-wrapper {
display: flex;
align-items: center;
justify-content: center;
padding: 48px;
}

.formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 22px;
}

.formbold-form-label {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 18px;
    margin-left: 10px;
    align-items: top;
    margin-bottom: 5px;
}

.formbold-form-input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    outline: none;
    margin-left: auto;
    padding: 5px;
    height: 30px;
}

.formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 22px;
    }
    .formbold-input-flex > div {
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
    align-items: top;
    margin-bottom: 20px;
    }
    
    .formbold-input-flex-top > div {
    width: 35%;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    margin-left: 675px;
    }
    
    .formbold-form-label-top {
    color: #07074D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: block;
    margin-bottom: 18px;
    align-items: center;
    align-self: flex-end;
    
    }
    
    .formbold-textarea {
    display: flex;
    align-self: flex-end;
    }
    
    .formbold-form-input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    outline: none;
    margin-left: auto;
    padding: 5px;
    height: 30px;
    }
    .formbold-form-input::placeholder {
    color: #000;
    }
    .formbold-form-input:focus {
    border-color: #d6af00;
    }
    .formbold-form-label {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 18px;
    margin-left: 10px;
    align-items: top;
    margin-bottom: 5px;
    }
    
    .formbold-form-input:focus + .formbold-form-label {
    color: #d6af00;
    }
    
    .formbold-form-input:focus + .formbold-form-label-top {
    color: #d6af00;
    }
    
    .formbold-input-file {
    margin-top: 30px;
    }
    .formbold-input-file input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
    }
    .formbold-input-file .formbold-input-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    }



.formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #d6af00;
    color: white;
    cursor: pointer;
    margin-top: 25px;
    border: 1px solid #000;
}

  