body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #000;
    color: #FFC107;
    padding: 10px;
}
.uprareports {
  text-align: center;
  margin-left: 120px;
}
h2 {
    background-color: #0e0e0e;
    color: #FFC107;
    text-align: center;
    padding: 10px;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

.menu-option-bar {
    color: #FFC107;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-option-bar:hover {
    color: #4CAF50;
}

.menu-container {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.menu-option {
    width: 300px;
    height: 250px;
    margin: 10px;
    background-color: #333; 
    color: #FFC107;
    text-align: center;
    line-height: 250px;
    font-size: 18px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.menu-option:hover {
    background-color: #FFC107;
    color: #4CAF50;
}

.welcome-container {
    text-align: center;
    padding: 50px;
    font-size: 24px;
    color: #000;
}
.active-set {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #4CAF50;
    display: none;
}
.year-container {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-weight: bold; 
    color: #000;
    display: none;
}
.highlight {
    color: #4CAF50 !important;
}
.footer-box {
    background-color: #000;
    color: #FFC107;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 999;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 20px;
    border: 2px solid #ddd; 
    margin: auto;
    border: 2px solid  #8d8b8b;
  }
  th, td {
    border: 2px solid  #8d8b8b;
    text-align: center;
    padding: 1em;
  }
  
.table th, .table td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #000000; 
    }
.table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #8d8b8b; 
      background-color: #dddddd;

    }
.table tbody + tbody {
      border-top: 2px solid #000000; 
    }
    .table-container {
        flex-wrap: wrap;
        justify-content: space-evenly; 
        padding: 20px;
        max-width: 1200px; 
        margin: 0 auto; 
        
    }
    .table-option {
        width: 200px;
        height: 75px;
        margin: 0 90%;
        background-color: #333; 
        color: #e0c200;
        text-align: center;
        line-height: 75px;
        font-size: 18px;
        text-decoration: none;
        display: block;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }
    
    .table-option:hover {
        background-color: #FFC107;
        color: #4CAF50;
    }
    .backmainmenu {
        color: #FFC107;
        text-align: center;
        -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(0, 0, 0);
    }
    .backmainmenu:hover {
        color: #4CAF50;
    }
    .metaheader {
        background-color: #000;
      color: #FFC107;
      text-align: center;
      padding: 10px;
    }
    form {
        max-width: 400px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
      }
      label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        color: #555;
      }
      input[type="text"],
      input[type="email"],
      input[type="password"],
      select {
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
      input[type="submit"] {
        background-color: #FFC107;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
      }
      input[type="submit"]:hover {
        background-color: #4CAF50;
      }
      .dropdown-container {
        text-align: center;
        margin-top: 20px; 
      }
      
      #yearDropdown {
        width: 150px; 
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
        cursor: pointer;
      }
      .salvar-btn,
      .borrar-btn, 
      .editar-btn,
      .active-toggle {
        background-color: #000000;
        border: none;
        color: #FFC107;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
      }
      
      .salvar-btn:hover,
      .borrar-btn:hover,
      .editar-btn:hover,
      .active-toggle:hover {
        background-color: #4CAF50;
      }
      
      .salvar-btn:focus,
      .borrar-btn:focus, 
      .editar-btn:focus {
        outline: none;
      }
      .option-button
      {
        background-color: #000000;
        border: none;
        color: #FFC107;
        padding: 8px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
      }

      .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 600px;
        transform: translate(-50%, -50%);
        background-color: #525050;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }
    
    .popup-content {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        color: #FFC107;
        background-color: #525050;
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 20px;
    }
    
    .popup button {
      background-color: #000000;
      border: none;
      color: #FFC107;
      padding: 8px 6px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    select{
      display: inline-block;
      position: relative;
      width: 400px;
      font-size:16px;
    }
    /* CSS for admin info */
    .Adminbtn {
      position: relative;
      display: inline-block;
      float: right;
      margin-right: 20px;
      
      
      
  }
  .dropbtn {
      background-color: #333;
      color: #FFC107;
      padding: 20px 40px; 
      font-size: 15px; 
      border: 1px solid #FFC107;
      border-radius: 10%;
  }
  .dropbtn:hover {
    color: #4CAF50;
    border: 1px solid #4CAF50;
  }

  .Admin-content {
    visibility: hidden;
    position: absolute;
    background-color: #333;
    min-width: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 10%;
}

.Admin-content.active {
    visibility: visible;
}

.Admin-content a {
    color: #FFC107;
    padding: 10px 5px;
    
    text-decoration: none;
    display: block;
    border: 1px solid #FFC107;
    font-size: 16px; 
    
}

.Admin-content a:hover {
   color: #4CAF50;
   
} 